<mat-form-field
  *ngIf="form"
  class="full-width"
  mat-form-field
  [appearance]="variant"
  [formGroup]="form"
>
  <mat-label *ngIf="label">{{ label }}</mat-label>
  <input
    matInput
    [type]="type"
    [formControlName]="controlName"
    (input)="onChangeInput($event)"
    [value]="value"
  />
</mat-form-field>

<mat-form-field
  *ngIf="!form"
  class="full-width"
  mat-form-field
  [appearance]="variant"
>
  <mat-label *ngIf="label">{{ label }}</mat-label>
  <input
    matInput
    [type]="type"
    (input)="onChangeInput($event)"
    [value]="value"
  />
</mat-form-field>
