<!-- <div class="testing-components">
  <div class="component-wrapper">
    <ui-button
      color="primary"
      icon="expand_circle_down"
      (onClick)="onClick($event)"
      >Hello world</ui-button
    >

    <ui-input type="email" label="Email" (onChange)="onChange($event)" />

    <ui-select
      [options]="selectOptions"
      placeholder="Select City"
      (onChange)="onChangeSelect($event)"
    ></ui-select>

    <ui-dynamic-form [formModel]="formModel"></ui-dynamic-form>
  </div>
</div> -->

<router-outlet></router-outlet>
