<div class="landing-wrapper">
  <app-header></app-header>
  <div class="wrapper">
    <section id="main">
      <div class="sticker">
        <img src="assets/img/default-sticker.png" alt="" />
      </div>
      <div class="get-started">
        <p>Be Creative:</p>
        <p>Your Imagination, Our Images</p>
        <p>
          This app will help you to generate stickers of your request with the
          help of generative AI. Create new stickers and print them out using
          prepared by us pdf files.
        </p>
        <ui-button routerLink="/dashboard">Get started!</ui-button>
      </div>
    </section>
  </div>
</div>
